{% extends "base/base.html" %}

{% block main_content %}

{% if classlist %}
<div class="alert alert-primary">
  <span>
    Classlist present
    <a href="/classlist/download" target="_" class="btn btn-info">download</a>
  </span>
</div>

<table class="table table-striped">
  <thead>
    <th>Student ID</th>
    <th>Student Name</th>
    <th>Paper-number (if assigned)</th>
  </thead>
  {% for row in classlist %}
  <tr>
    <td>{{ row.student_id }}</td>
    <td>{{ row.student_name }}</td>
    <td>
      {% if row.paper_number %}
      {{ row.paper_number }}
      {% else %}
      ●
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<div>
  <button class="btn btn-danger"
          hx-delete="/classlist/delete"
          hx-confirm="Are you sure you want to delete the classlist?"
          hx-target="body"
          hx-swap="outerHTML">
    delete whole classlist
  </button>
</div>

{% else %}

<div class="card">
  <div class="card-header">
    <p>
      No classlist
    </p>
  </div>
  
  <form class="card-body" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      <button type="submit" class="btn btn-primary">upload</button>
    </p>

  </form>

<div class="card-footer">
  Plom needs a classlist as a csv file with three columns
  <ul>
    <li>"id" &mdash; the student id</li>
    <li>"name" &mdash; the student name as a single field</li>
    <li>"paper_number" &mdash; an optional field for prenaming papers</li>

  </ul>
</div>
</div>
{% endif %}


{% endblock %}
