{% extends "test_creator/base-test-spec-cards.html" %}

{% block title %} Create Specification - Do not mark pages {% endblock %}

{% block pre_cards %}
<p>Select do-not-mark pages: </p>
{% endblock %}

{% block card_badge %}
{% if page.id_page %}
<span class="p-2 badge text-bg-light">ID</span>
{% elif page.question_page %}
<span class="p-2 badge text-bg-info" >Q{{ page.question_page }}</span>
{% else %}
<span class="p-2 badge text-bg-secondary" x-cloak x-show="page{{ forloop.counter0 }}selected">DNM</span>
{% endif %}
{% endblock %}

{% block form_action %}action="{% url 'dnm_page' %}"{% endblock %}

{% block back_href %}
{% if num_questions > 0 %}
href="{% url 'q_detail' num_questions %}"
{% else %}
href="{% url 'questions' %}"
{% endif %}
{% endblock %}