{% extends "test_creator/base-test-spec-2col.html"%}

{% block title %}Create specification - Questions{% endblock %}

{% block right_column %}

<!-- Extra confirm dialog if we're changing the number of questions -->
<form class="w-100" action="{% url 'questions' %}" method="post" enctype="multipart/form-data"
    {% if completed.questions_page %}
    onsubmit="return confirm('Are you sure? Changing the number of questions will reset the current questions.')" 
    {% endif %}   
>
    {% csrf_token %}

    <div class="vstack d-flex h-100">
        <div class="h-100">
            <div class="row">
                <!-- Form area -->
                <label for="{{ form.questions.id_for_label }}" class="col-sm-3 col-form-label fs-5" style="padding-top: 0px;">{{ form.questions.label }}</label>
                <div class="col-sm-9">
                    {{ form.questions}}
                    <p></p>
                </div>

                <label for="{{ form.total_marks.id_for_label }}" class="col-sm-3 col-form-label fs-5">{{ form.total_marks.label }}</label>
                <div class="col-sm-9">
                    {{ form.total_marks }}
                    <p></p>
                </div>                   
            </div>
            
            {% for e in form.non_field_errors %}
            <p class="text-danger">{{ e }}</p>
            {% endfor %}

        </div>
        <div>
            <a type="button" class="btn btn-primary btn-lg" href="{% url 'id_page' %}">Back</a>
            <input type="submit" class="btn btn-primary btn-lg float-end" value="Next">
        </div>
    </div>
</form>

{% endblock %}