# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 2025 Bryan Tanady

numpy==2.3.2
opencv_python_headless==4.11.0.86
Pillow==11.3.0
scikit_learn==1.7.1
scikit-image==0.25.2
torch==2.7.1
torchvision==0.22.1
transformers==4.53.2
