{% extends 'base/base.html' %}

{% block title %}Connect to classic - Send information{% endblock %}

{% block page_heading %}Send information to Plom-classic server{% endblock %}

{% block main_content %}

<div class="d-grid gap-2">
    <a class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>

    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Test specification</h5>
            <p class="card-text" id="spec_result">Status</p>
            <a class="btn btn-primary" hx-put="{% url 'connect_send_spec' %}" hx-target="#spec_result">Send</a>
        </div>
    </div>

    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Classlist</h5>
            <p class="card-text">Not implemented!</p>
            <a class="btn btn-primary">Send</a>
        </div>
    </div>

    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">QV map</h5>
            <p class="card-text">Not implemented!</p>
            <a class="btn btn-primary">Send</a>
        </div>
    </div>

</div>

{% endblock %}