{% extends 'base/base.html' %}

{% block title %}Connect to classic - Send information{% endblock %}

{% block page_heading %}Send information to Plom-classic server{% endblock %}

{% block main_content %}
<div class="d-grid gap-2">
    <div class="card w-50">
        <div class="card-body">
            {% if attempt %}
            <h5 class="card-title">Classlist sent to Plom-classic.</h5>
            {% else %}
            <h5 class="card-title">Exception encountered</h5>
            <p class="card-text text-danger">{{ exception }}</p>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'connect_send_info' %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}