{% extends 'base/base.html' %}

{% block title %}Connect to classic - Manager{% endblock %}

{% block page_heading %}Manage connection to Plom-classic server{% endblock %}

{% block main_content %}

<div class="d-grid gap-2">
    <a class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>

    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Connection details</h5>
            <form hx-post="{% url 'attempt_core_connection' %}" hx-target="#init_connection_response">
                {% csrf_token %}
            
                <div class="row">
                    <label for="{{ form.server_url.id_for_label }}" class="col-sm-3 col-form-label fs-7">{{ form.server_url.label }}</label>
                    <div class="col-sm-9">
                        {{ form.server_url }}
                    </div>

                <div id="init_connection_response">
                    <p></p>
                </div>
        
                <input type="submit" class="btn btn-primary" value="Connect">
            </form>
        </div>
    </div>
</div>

{% endblock %}