# SPDX-License-Identifier: FSFAP
# Copyright (C) 2022-2026 Colin B. Macdonald
# Copyright (C) 2025 Aidan Murphy
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

# Notes
# -----
#
# First `pip install pre-commit`.
#
# To run one-off, just type `pre-commit`.  To have it run on every
# commit (which is the intention), you can do `pre-commit install`.
#
# You can `git commit -n` to disable this on a one-off commit.
#
# eslint requires installation of node


repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-yaml
  - id: check-toml
  - id: check-json

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
    - id: ruff
      args: [ --fix ]
    # TODO: formatter has minor conflicts with black
    # - id: ruff-format

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.12.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8

- repo: https://github.com/Riverside-Healthcare/djLint
  rev: v1.36.4
  hooks:
  - id: djlint-reformat-django
  - id: djlint-django

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli

- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v9.39.1
  hooks:
    - id: eslint
      language: node
      files: \.(js|jsx|ts|tsx|cjs)$
      args: [ --fix ]
      additional_dependencies:
        - eslint@9.39.1
        - '@stylistic/eslint-plugin'
        - globals
        - '@eslint/js'
