# SPDX-License-Identifier: FSFAP
# Copyright (C) 2020-2025 Colin B. Macdonald
# Copyright (C) 2021 Elizabeth Xiao
# Copyright (C) 2022-2025 Andrew Rechnitzer
# Copyright (C) 2025 Aidan Murphy
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

# Notes:
#   - Why do we need to list files accessed with importlib.resources, seems WET
#   - If you change things here, you may need to add them to client.*.spec

include CONTRIBUTORS CHANGELOG.md Containerfile LICENSE.md doc
include requirements.txt

include plom/templateTestSpec.toml
include plom/templateSolutionSpec.toml
include plom/create/digits.json
include plom/templateUserList.csv
include plom/demoClassList.csv
include plom/demo_rubrics.toml
include plom/create/extra_pages_src.tex
include plom/create/scrap_paper_src.tex
include plom/scan/test_zbar_fails.png
include plom/scan/test_rgb.png
include plom/test*.png
include plom/latexTemplate.tex
include plom/latexTemplatev2.tex
include plom/idBox2.pdf
include plom/idBox4.pdf

include plom/create/fonts/*.ttf

include plom_server/static/*.png
include plom_server/static/*.svg
include plom_server/static/css/*.css
include plom_server/static/js/*.js
include plom_server/templates/*.html
include plom_server/templates/**/*.html
include plom_server/templates/**/**/*.html
include plom_server/**/migrations/*.py
include plom_server/**/models.py
include plom_server/**/models/*.py
include plom_server/**/forms.py
include plom_server/**/forms/*.py
include plom_server/**/views/*.py
include plom_server/**/serializers/*.py
include plom_server/API/permissions/*.py
include plom_server/API/routes/*.py
include plom_server/API/views/experimental/*.py
include plom_server/**/tests/*.py
include plom_server/**/tests/*.png
include plom_server/Mark/tests/config_files/*.toml
include plom_server/Preparation/tests/config_files/*.toml
include plom_server/Preparation/useful_files_for_testing/*.pdf
include plom_server/Preparation/useful_files_for_testing/*.toml
include plom_server/Preparation/useful_files_for_testing/*.csv
include plom_server/Finish/templatetags/*.py
include plom_server/Finish/useful_files_for_testing/*.toml
include plom_server/TestingSupport/config_files/*.toml
include plom_server/Launcher/launch_scripts/*.py
include plom_server/demo_files/*.toml
include plom_server/demo_files/*.tex
include plom_server/demo_files/*.csv
include plom_server/**/management/commands/*.py

# TODO: docs?
