# SPDX-License-Identifier: FSFAP
# Copyright (C) 2020-2022 Colin B. Macdonald
# Copyright (C) 2021 Óvári
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

[Desktop Entry]
Name=Plom Client
Name[hu]=Plom-ügyfél
Comment=Paperless Open Marking
Comment[hu]=Papír nélküli nyílt osztályozás
Exec=plom-client
Icon=org.plomgrading.PlomClient
Type=Application
Terminal=false
Categories=Education;
