[Desktop Entry]
Name=Plom Client
Name[hu]=Plom-ügyfél
Comment=PaperLess Open Marking
Comment[hu]=Papír nélküli nyílt osztályozás
Exec=plom-client
Icon=org.plomgrading.PlomClient
Type=Application
Terminal=false
Categories=Education;
