# SPDX-License-Identifier: FSFAP
# Copyright (C) 2020 Michael Zhang
# Copyright (C) 2020-2023 Colin B. Macdonald
# Copyright (C) 2020 Vala Vakilian
# Copyright (C) 2022 Elizabeth Xiao
# Copyright (C) 2022 Brennen Chiu
# Copyright (C) 2023 Andrew Rechnitzer
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

# Not really server deps
PyQt5
PyQt5-sip

aiohttp==3.8.3
appdirs==1.4.4
arrow==1.2.3
canvasapi==3.0.0
exif==1.6.0
file-magic==0.4.1
fonttools==4.38.0
importlib-resources==5.10.2
imutils==0.5.4
lapsolver==1.1.0
numpy==1.24.2
opencv-python-headless==4.7.0.68
packaging==23.0
pandas==1.5.3
passlib==1.7.4
peewee==3.15.4
Pillow==9.4.0
pymupdf==1.21.1
PyMySQL==1.0.2
requests==2.28.2
requests-toolbelt==0.10.1
scikit-learn==1.2.1
segno==1.5.2
stdiomask==0.0.6
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.64.1
urllib3==1.26.14
weasyprint==57.2
zxing-cpp==2.0.0
