# SPDX-License-Identifier: FSFAP
# Copyright (C) 2020 Michael Zhang
# Copyright (C) 2020 Colin B. Macdonald
# Copyright (C) 2020 Vala Vakilian
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

# Not really server deps
PyQt5==5.15.2
PyQt5-sip==12.8.1

pandas==0.25.3
numpy==1.18.4

tqdm==4.55.1
passlib==1.7.4
pymupdf==1.18.5
Pillow==8.1.0
pycparser==2.20
cffi==1.14.4
jpegtran-cffi==0.5.2
weasyprint==52.2
aiohttp==3.7.3
# unlisted dep of pyqrcode
pypng==0.0.20
pyqrcode==1.2.1
pyzbar==0.1.8
peewee==3.14.0
imutils==0.5.3
opencv-python==4.4.0.46
tensorflow==2.2.1
lapsolver==1.1.0
requests==2.25.1
requests-toolbelt==0.9.1
toml==0.10.2
urllib3==1.26.2
packaging==20.8
# For rando forest model
scikit-learn==0.23.2
