{% extends "base/base-2col.html" %}

{% block title %} Create Specification {% endblock %}

{% block page_heading %} Create a test specification {% endblock %}

{% block alert %}
{% if show_alert %}
<div class="alert alert-info">
    For any changes to take effect, please validate and submit the specification again.
</div>
{% endif %}
{% endblock %}

{% block left_column %}

<div class="list-group list-group-flush" style="overflow: scroll; max-height: 85vh">
    <div class="list-group-item">
        <p class="is_test_spec_nav_text fs-4">{{ long_name }}</p>
        <p class="is_test_spec_nav_text">{{ short_name }}</p>
    </div>
    <a class="list-group-item list-group-item-action" href="{% url 'names' %}">
        <div class="d-flex w-100 justify-content-between">
            {% if curr_page == 'names' %}
            <p class="is_test_spec_nav_text fw-bold">Test names and numbers</p>
            {% else %}
            <p class="is_test_spec_nav_text">Test names and numbers</p>
            {% endif %}

            {% if completed.has_names and completed.has_versions %}
            <i class="bi bi-check"></i>
            {% endif %}
        </div>
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'upload' %}">
        <div class="d-flex w-100 justify-content-between">
            {% if curr_page == 'upload' %}
            <p class="is_test_spec_nav_text fw-bold">Reference PDF</p>
            {% else %}
            <p class="is_test_spec_nav_text">Reference PDF</p>
            {% endif %}
            
            {% if completed.has_n_pages %}
            <i class="bi bi-check"></i>
            {% endif %}
        </div>
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'id_page' %}">
        <div class="d-flex w-100 justify-content-between">
            {% if curr_page == 'id_page' %}
            <p class="is_test_spec_nav_text fw-bold">ID page</p>
            {% else %}
            <p class="is_test_spec_nav_text">ID page</p>
            {% endif %}

            {% if completed.has_id_page %}
            <i class="bi bi-check"></i>
            {% endif %}
        </div>
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'questions' %}">
        <div class="d-flex w-100 justify-content-between">
            {% if curr_page == 'questions' %}
            <p class="is_test_spec_nav_text fw-bold">Questions</p>
            {% else %}
            <p class="is_test_spec_nav_text">Questions</p>
            {% endif %}

            {% if completed.has_questions and completed.has_total_marks %}
            <i class="bi bi-check"></i>
            {% endif %}
        </div>
    </a>

    {% if questions %}
        <div class="list-group-item list-group-flush" style="padding-right: 0;">
            {% for q in questions %}
            <a class="list-group-item list-group-item-action" href="{% url 'q_detail' forloop.counter %}">
                <div class="d-flex w-100 justify-content-between">
                    {% if question_id == forloop.counter %}
                    <p class="is_test_spec_nav_text fw-bold">Question {{ forloop.counter }}</p>
                    {% else %}
                    <p class="is_test_spec_nav_text">Question {{ forloop.counter }}</p>
                    {% endif %}

                    {% if forloop.counter in completed.complete_questions %}
                    <i class="bi bi-check"></i>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div> 
    {% endif %}
    <a class="list-group-item list-group-item-action" href="{% url 'dnm_page' %}">
        <div class="d-flex w-100 justify-content-between">
            {% if curr_page == 'dnm_page' %}
            <p class="is_test_spec_nav_text fw-bold">Do-not-mark pages</p>
            {% else %}
            <p class="is_test_spec_nav_text">Do-not-mark pages</p>
            {% endif %}

            {% if completed.all_pages_selected %}
            <i class="bi bi-check"></i>
            {% endif %}
        </div>
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'validate' %}">
        <div class="d-flex w-100 justify-content-between">
            {% if curr_page == 'validate' %}
            <p class="is_test_spec_nav_text fw-bold">Validate</p>
            {% else %}
            <p class="is_test_spec_nav_text">Validate</p>
            {% endif %}

            {% if completed.validate_page %}
            <i class="bi bi-check"></i>
            {% endif %}

            <!-- {% if completed.validate %}
            <i class="bi bi-check"></i>
            {% endif %} -->
        </div>
    </a>
    <div class="list-group-item" id="spacer"></div>
    <a class="list-group-item list-group-item-action" href="{% url 'download' %}">
        <div class="d-flex w-100 justify-content-between">
            {% if curr_page == 'download' %}
            <p class="is_test_spec_nav_text fw-bold">Save</p>
            {% else %}
            <p class="is_test_spec_nav_text">Save</p>
            {% endif %}
        </div>
    </a>
    <form action="{% url 'reset_spec' %}" method="post"
        onsubmit="return confirm('Are you sure? All changes to the test specification will be lost.');"
    >
        {% csrf_token %}
        <input 
            type="submit" 
            value="Reset" 
            class="list-group-item list-group-item-action" 
            style="border: 0;"
        >
    </form>
    
</div>

{% endblock %}