{% extends "SpecCreator/base-spec-2col.html" %}

{% block title %} Create Specification - Summary {% endblock %}

{% block right_column %}

<div>
    <h3>Test specification created!</h3>
    <p>The following will be used to generate test papers:</p>
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">{{ short_name }}</dd>

        <dt class="col-sm-2" style="margin-bottom: 25px;">Long name</dt>
        <dd class="col-sm-10">{{ long_name }}</dd>

        <dt class="col-sm-2">Versions</dt>
        <dd class="col-sm-10">{{ num_versions }}</dd>

        <dt class="col-sm-2">Pages</dt>
        <dd class="col-sm-10">{{ num_pages }}</dd>

        <dt class="col-sm-2">ID page</dt>
        <dd class="col-sm-10">{{ id_page }}</dd>

        <dt class="col-sm-2" style="margin-bottom: 25px;">Total marks</dt>
        <dd class="col-sm-10">{{ total_marks }}</dd>

        <dt class="col-sm-2">Questions</dt>
        <dd class="col-sm-10">{{ num_questions }}</dd>

        {% for q in questions %}
        <dt class="col-sm-2">Question {{ forloop.counter }}</dt>
        <dd class="col-sm-10">
            <ul class="list-unstyled" style="margin-bottom: 0px;">
                <li>Pages: {{ q.pages }}</li>
                <li>Label: {{ q.label }}</li>
                <li>Mark: {{ q.mark }}</li>
                <li>Select: {{ q.shuffle }}</li>
            </ul>
        </dd>
        {% endfor %}

        <dt class="col-sm-2" style="margin-top: 25px;">Do-not-mark pages</dt>
        <dd class="col-sm-10" style="margin-top: 25px;">{{ dnm_pages }}</dd>
    </dl>
    <div>
        <a type="button" class="btn btn-primary btn-lg" href="{% url 'prep_landing' %}">Return to Test creator</a>
    </div>
</div>

{% endblock %}