{% extends "base/base.html" %}

{% block title %} Create Specification - Summary {% endblock %}

{% block page_heading %}Prepare assessment{% endblock %}

{% block main_content %}

<div class="d-grid gap-2">
    <div>
        <a type="button" class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Test specification</h4>
            <p class="card-subtitle">The following will be used to generate test papers:</p>
            <dl class="row">
                <dt class="col-sm-2">Name</dt>
                <dd class="col-sm-10">{{ short_name }}</dd>
        
                <dt class="col-sm-2" style="margin-bottom: 25px;">Long name</dt>
                <dd class="col-sm-10">{{ long_name }}</dd>
        
                <dt class="col-sm-2">Versions</dt>
                <dd class="col-sm-10">{{ num_versions }}</dd>
        
                <dt class="col-sm-2">Pages</dt>
                <dd class="col-sm-10">{{ num_pages }}</dd>
        
                <dt class="col-sm-2">ID page</dt>
                <dd class="col-sm-10">{{ id_page }}</dd>
        
                <dt class="col-sm-2" style="margin-bottom: 25px;">Total marks</dt>
                <dd class="col-sm-10">{{ total_marks }}</dd>
        
                <dt class="col-sm-2">Questions</dt>
                <dd class="col-sm-10">{{ num_questions }}</dd>
        
                {% for q in questions %}
                <dt class="col-sm-2">Question {{ forloop.counter }}</dt>
                <dd class="col-sm-10">
                    <ul class="list-unstyled" style="margin-bottom: 0px;">
                        <li>Pages: {{ q.pages }}</li>
                        <li>Label: {{ q.label }}</li>
                        <li>Mark: {{ q.mark }}</li>
                        <li>Select: {{ q.shuffle }}</li>
                    </ul>
                </dd>
                {% endfor %}
        
                <dt class="col-sm-2" style="margin-top: 25px;">Do-not-mark pages</dt>
                <dd class="col-sm-10" style="margin-top: 25px;">{{ dnm_pages }}</dd>
            </dl>
        </div>
    </div>
</div>

{% endblock %}