{% extends "SpecCreator/base-spec-2col.html" %}

{% block right_column %}

<form class="w-100" action="{% url 'upload' %}" method="post" enctype="multipart/form-data"
    {% if refpdf_uploaded %}
    onsubmit="return confirm('Are you sure? This will reset all pages and questions.')"
    {% endif %}
>
    {% csrf_token %}

    {% if refpdf_uploaded %}
    <div class="vstack d-flex h-100">
        <div class="h-100">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">
                        Reference PDF uploaded
                        <i class="bi bi-check-circle text-success"></i>
                    </h5>
                    <p class="card-text">Note that this just for rendering thumbnails &mdash; you can upload test sources after the specification is completed.</p>
                    <p class="card-text">Number of pages: {{ n_pages }}</p>
                    <a class="btn btn-success" href="{% url 'ref_pdf_view' %}" target="_blank">View</a>
                    <a 
                        class="btn btn-danger" 
                        hx-delete="{% url 'upload' %}" 
                        hx-confirm="Are you sure? This will reset all pages and questions."
                    >
                        Delete
                    </a>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-lg" href="{% url 'names' %}">Back</a>
            <a class="btn btn-primary btn-lg float-end" href="{% url 'id_page' %}">Next</a>
        </div>
    </div>
    {% else %}
    <div class="vstack d-flex h-100">
        <div class="h-100">
            <div class="row">
                <label for="{{ form.pdf.id_for_label }}" class="col-sm-3 col-form-label fs-5">{{ form.pdf.label }}</label>
                <div class="col-sm-9">
                    {{ form.pdf }}
                    <p>{{ form.pdf.help_text }}</p>
                </div>
            </div>
        </div>
        <div>
            <a type="button" class="btn btn-primary btn-lg" href="{% url 'names' %}">Back</a>
            <input type="submit" class="btn btn-primary btn-lg float-end" value="Next">
        </div>
    </div>
    {% endif %}
</form>

{% endblock %}