<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bulma stylesheet-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body style="background-color: #F5F6FA;">

        <div class="columns is-gapless is-mobile">

            <!-- Sidebar -->
            <div class="column is-narrow" style="background-color: #AD9CFF; height: 100vh;">
                <div class="section" style="padding: 1rem; padding-top: 1.25rem;">
                    <!-- Title -->
                    <div class="block">
                        <a class="title is-4 has-text-light">Plom</a>
                    </div>

                    <!-- Nav links -->
                    <div class="block">
                        <a class="has-text-light">Account</a>
                    </div>
                    <div class="block">
                        <a class="has-text-light">Users</a>
                    </div>
                    <div class="block">
                        <a class="has-text-light">Create test</a>
                    </div>
                </div>
            </div>

            <!-- Page content -->
            <div class="column">
                <div class="section" style="padding: 1rem;">
                    <div class="content">

                        <!-- Header -->
                        <h1 class="title">Page title</h1>
                        <p class="subtitle">Page subtitle goes here</p>

                        <div class="section" style="padding: 0; padding-top: 1.25rem">
                            <div class="columns is-mobile">
                                <!-- Left column -->
                                <div class="column is-2">
                                    <p>Side 1</p>
                                </div>

                                <!-- divider -->
                                <div class="column is-narrow" style="background-color: #D9D9D9; padding: 0.5px; margin-right: 15px; box-shadow: 0px 0px 1px 0px #D9D9D9; height: 75vh">
                                </div>

                                <!-- Right column -->
                                <div class="column">
                                    <p>Side 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </body>
</html>