{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Build Paper PDFs{% endblock %}</title>
</head>
<body>
    {% block page_heading %}Build Paper PDFs{% endblock %}
    {% block main_content %}
        <div class="d-grid gap-2">
            <a class="btn btn-primary" href="../">Return to assessment preparation page</a>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <div class="col-sm-2">
                    <label class="col-form-label fs-6" style="padding-top: 0px;">{{ form.pdfs.label }}</label>
                    {{ form.pdfs }}<br>
                    <input type="submit">
                </div>
            </form>
        </div>
        <form method="post" action="{% url 'zip_paperPDFs' %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Save as zip file">
        </form>
        <div>
            {{ message }}<br>
            <table>
                {% for paper_number, pdf_file, status in tasks %}
                    <tr>
                        <td>{{ paper_number }}</td>
                        <td><a target="_blank" href="{% url 'get_paperPDFs' paper_number %}">{{ pdf_file }}</a></td>
                        <td>{{ status }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endblock %}
</body>
</html>