{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Build Paper PDFs{% endblock %}</title>
</head>
<body>
    {% block main_content %}
        <div class="d-grid gap-2" id="top">
            <a class="btn btn-primary" href="../">Return to assessment preparation page</a>
            {% if pdfs_staged %}
            <div>
                <a class="btn btn-primary" hx-post="{% url 'start_all_PDFs' %}" hx-target="#pdf_table">Start All</a>
                <a class="btn btn-warning" hx-post="{% url 'retry_all_PDFs' %}" hx-target="#pdf_table">Retry All</a>
                <a class="btn btn-danger" hx-post="{% url 'cancel_all_PDFs' %}" hx-target="#pdf_table">Cancel All</a>
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBtnModal">Delete All</a>
                <a class="btn btn-secondary" onclick="document.getElementById('bottom').scrollIntoView()">
                    <i class="bi bi-arrow-down-circle"></i>
                </a>
            </div>
            <div id="pdf_table">
                {{ pdf_table |safe }}
            </div>
            {% else %}
            <div class="card w-50">
                <div class="card-body">
                    {% if db_initialised %}
                    <h5 class="card-title">Build test papers</h5>
                    <p class="card-text">Will build {{ num_pdfs }} tests.</p>
                    <form action="{% url 'create_paperPDFs' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                    {% else %}
                    <i class="bi bi-exclamation-triangle-fill text-warning fs-1"></i>
                    <h5 class="card-title">Database not initialised</h5>
                    <p class="card-text">Please send all the required information to Plom-classic before building test-papers.</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

    {% endblock %}
</body>
</html>