{% extends "base/base.html" %}
{% block page_heading %}Prepare assessment{% endblock %}
{% block main_content %}
  <div class="d-grid gap-2">
    <div class="card">
      <details class="card-body">
        <summary>
          Help! What do I do?
        </summary>
        <p>
          <ul>
            <li>Some minimal doc stubs here.</li>
          </ul>
        </p>
      </details>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          {% if valid_spec %}
            <h5 class="card-title">
              Test specification
              <i class="bi bi-check-circle text-success"></i>
	      &mdash; HARD CODED FOR TESTING PURPOSES <i class="bi bi-x-octagon-fill text-danger"></i>
	    </h5>
            <p class="card-text">Test specification has been created</p>
            <btn class="btn btn-success" disabled>View summary</btn>
            <btn class="btn btn-secondary" disabled>Download</btn>
            <btn class="btn btn-danger" disabled>Delete</btn>
          {% else %}
            <h5 class="card-title">
              Test specification
              <i class="bi bi-check-circle text-success"></i>
            </h5>
            <p class="card-text">Create a test-specification for your assessment.</p>
            <i class="bi bi-exclamation-diamond-fill text-warning"></i>
          {% endif %}
        </div>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          {% if can_upload_source_tests %}
            <h5 class="card-title">
              Source versions &mdash; {{ uploaded_test_versions }} of {{ test_versions }} uploaded
              {% if all_source_tests_uploaded %}
                <i class="bi bi-check-circle text-success"></i>
              {% else %}
                <i class="bi bi-exclamation-diamond-fill text-warning"></i>
              {% endif %}
            </h5>
            <p class="card-text">Upload source versions of your assessment</p>
            <a class="btn btn-primary" href="test_source/">Manage sources</a>
          {% else %}
            <h5 class="card-title">
              Source versions <i class="bi bi-caret-up-square-fill text-warning"></i>
            </h5>
            <p class="card-text">Cannot upload assessment sources until test specification has been created</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          {% if can_prename %}
            <h5 class="card-title">
              Prenaming &mdash;
	      {% if prename_enabled %}
	      enabled <i class="bi bi-check-circle text-warning"></i>
	      {% else %}
	      disabled <i class="bi bi-dash-circle text-success"></i>
	      {% endif %}
            </h5>
            <p class="card-text">Do you want to prename your papers?</p>
            <a class="btn btn-primary" href="prename/">Manage prenaming</a>
          {% else %}
            <h5 class="card-title">
              Prenaming and classlist  <i class="bi bi-caret-up-square-fill text-warning"></i>
            </h5>
            <p class="card-text">You cannot prename a test specification has been created</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div>
      <div class="card">
        <div class="card-body">
	  {% if prename_enabled %}
            <h5 class="card-title">
              Classlist  &mdash; required
	      {% if student_list_present %}
	      &mdash; and present <i class="bi bi-check-circle text-success"></i>
	      {% else %}
	      <i class="bi bi-exclamation-diamond-fill text-warning"></i>
	      {% endif %}
            </h5>

	    {% if not student_list_present %}
          <p class="card-text">Please upload a classlist</p>
	  {% endif %}
	  
          <a class="btn btn-primary" href="classlist/">Classlist management</a>
          {% else %}
            <h5 class="card-title">
              Classlist  &mdash; optional
	      {% if student_list_present %}
	      &mdash; and present <i class="bi bi-check-circle text-success"></i>
	      {% endif %}
            </h5>
	    {% if not student_list_present %}
          <p class="card-text">Do you want to upload a classlist? You can do this later since prenaming is not enabled</p>
	  {% endif %}
            <a class="btn btn-primary" href="classlist/">Classlist management</a>    
          {% endif %}
        </div>
      </div>
    </div>

    {% if can_qvmap %}

    {% if test_versions == 1 %}

    <div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
	    Number of papers
	    {% if pqv_mapping_present %}
	    <i class="bi bi-check-circle text-success"></i>
	    {% else %}
	    <i class="bi bi-exclamation-diamond-fill text-warning"></i>
	    {% endif %}
	  </h5>
          <div class="card-text">
	    <details>
	    <summary>
	    Set the number of papers to produce.
	    </summary>
	    <p>
	      Since your test specification indicates only a single
	      test version, you do not need to specify any
	      question-version mapping.
	    </p>
	    </details>
	    <a class="btn btn-primary" href="qvmapping/">Number management</a>
	  </div>
        </div>
      </div>
    </div>

    {% else %}
    
    <div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
	    Number of papers and question-version mapping

	    {% if pqv_mapping_present %}
	    <i class="bi bi-check-circle text-success"></i>
	    {% else %}
	    <i class="bi bi-exclamation-diamond-fill text-warning"></i>
	    {% endif %}

	  </h5>
          <div class="card-text">
	    <details>
	    <summary>
	    Set the number of papers to produce, and the question-version mapping
	    </summary>
	    <p>
	      <ul>
		<li> Since your test has multiple versions, plom needs to fix
	      the versions of each question of each paper according to
		  the specification you set.
		</li>
		<li> Plom can do this automagically for you, or your can
	      upload your own mapping (advanced users).
		</li>
	    </p>
	    </details>
	    <a class="btn btn-primary" href="qvmapping/">Number and question-version management</a>    		
	  </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% else %}

    <div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
	    Number of papers and question-version mapping
          </h5>
            <p class="card-text">You cannot set these until a test specification has been created</p>
        </div>
      </div>
    </div>

    
    {% endif %}
    
    <div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Send information to server &mdash; NOT IMPLEMENTED <i class="bi bi-x-octagon-fill text-danger"></i>
          </h5>
          <p class="card-text">Verify and send all this information to the plom-server</p>
          <btn class="btn btn-primary">NOT IMPLEMENTED</btn>
        </div>
      </div>
    </div>
    <div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Build paper pdfs &mdash; NOT IMPLEMENTED <i class="bi bi-x-octagon-fill text-danger"></i>
          </h5>
          <p class="card-text">Build pdfs for each paper</p>
          <btn class="btn btn-primary">NOT IMPLEMENTED</btn>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
