{% extends "base-cols.html" %}

{% block page_title %}Test Spec Frontend Mockup{% endblock %}

{% block title %}Create a test specification{% endblock %}

{% block left_column %}
<p class="title is-5">{{ long_name }}</p>
<p class="subtitle is-6">{{ short_name }}</p>
<div class="menu">
    <ul class="menu-list" style="list-style: none; margin: 0; padding: 0">
        <li><a>Test names</a></li>
        <li><a>Versions and reference PDF</a></li>
        <li><a>ID page</a></li>
        <li><a>Questions and total marks</a></li>

        {% if questions %}
            {% for q in questions %}
            <li><a>Question {{ forloop.counter }}</a></li>
            {% endfor %}
        {% else %}
            <li><a>No questions yet.</a></li>
        {% endif %}

        <li><a>Do-not-mark pages</a></li>
        <li><a>Number to produce</a></li>
    </ul>
</div>
<br>
<a>Reset</a>
{% endblock %}