# Example test specification for Plom

# >>> Edit the data below <<<

# Human-readable names of the test - one long, one short.
#name = "m101mt1"
#longName = "Midterm 1 for Mathematics 101"
name = "plomdemo"
longName = "Midterm Demo using Plom"

# Information about the test
# A test may have one or more versions
numberOfVersions = 2
# how many pages
numberOfPages = 6
# sum of marks for all questions, for sanity checking (omit to live dangerously)
totalMarks = 20
# how many questions to mark
numberOfQuestions = 3

# total number of papers to produce
# (set to "-1" to use length of classlist + 10%)
numberToProduce = 20
# how many of those should be preprinted with names from a classlist
# (again set to "-1" to use the length of the classlist)
# See `plom-create make --help` for instructions on how to position the prenamed-box
numberToName = 10

# the id-page - always taken from Version1
idPage = 1  # must be exactly 1 page

# pages that are not marked (like instructions, formula sheets, examination rules etc) - always taken from Version1
doNotMarkPages = [2] # can be an empty list or omitted

# Now the actual questions (groups of pages) to be marked
# [question.n] with n a positive integer [1, 2, 3, ... etc] - contiguous please.
# label = string such as "1", "Q2", or "Exercise 7.3".  Defaults to "Qn" if omitted.
# pages = [4, 5, 6] - contiguous ordered list of positive integers.
# mark = positive integer, the marks for this question.
# select = "shuffle" or "fix" (if omitted, defaults to "shuffle")
# --> "fix" = question will always be drawn from source-version 1.
# --> "shuffle" = question will be drawn randomly from one of the source versions.

[question.1]
pages = [3]
mark = 5

[question.2]
label = "Q(2)"
pages = [4]
mark = 5
select = "fix"

[question.3]
label = "Ex.3"
pages = [5, 6]
mark = 10
select = "shuffle"
