{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plom Manager Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/signUpPage.css' %}">
</head>
<body>
    <h1>Manager SignUp</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}<br>

        {{ form.email.label }}
        {{ form.email }}<br>

        <input type="submit" name="Create User"><br>
    </form>
    <button id="generate-username">Generate Username</button>
    {{ error }}
    <script type="module" src="{% static '/js/frontend_utils.js' %}"></script>
</body>
</html>