{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plom Manager Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/signUpPage.css' %}">
</head>
<body>
    <h1>Manager SignUp</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}<br>

        {{ form.email.label }}
        {{ form.email }}<br>

        {{ form.password1.label }}
        {{ form.password1 }}
        <i class="bi-eye" id="togglePassword1"></i><br>

        {{ form.password2.label }}
        {{ form.password2 }}

        <input type="submit" name="Create User"><br>
    </form>
    <button id="auto-generate">change</button>
    {{ form.errors }}
    <script type="module" src="{% static '/js/generate_random_user&pass.js' %}"></script>
</body>
</html>