{% extends 'base/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Plom Manager Sign Up{% endblock %}</title>
</head>
<body>
    {% block main_content %}
    <h1>Manager SignUp</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        <div style="font-size: smaller">
            <p>Click <b>Generate Username</b> to automatically generate username</p>
        </div>

        {{ form.email.label }}
        {{ form.email }}<br><br>

        <input class="btn" type="submit" name="Create User" style="background-color: {{ navbar_colour }}; color: white"><br>
    </form>
    <button class="btn" id="generate-username" style="background-color: {{ navbar_colour }}; color: white; margin-top: 3px">Generate Username</button>
    {{ error }}
        <script type="module" src="{% static '/js/frontend_utils.js' %}"></script>
    {% endblock %}
</body>
</html>