{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activation Link</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Manager Reset Password Link</h1>
    <h4>Below is the Manager's link to activate account and reset password.</h4>
    <p>- Click on copy to copy link to clipboard</p>
    <p id="link">http://{{ domain }}{% url 'password_reset' uidb64=uid token=token %}</p>
    <button id="copy">Copy</button>
    <a href="{% url 'home' %}">Home</a>
    <script type="module" src="{% static '/js/activation_link.js' %}"></script>
</body>
</html>