<div class="card" style="min-width: fit-content; max-width: 50%">
  <div class="card-body d-flex flex-row p-0">
    <img 
      src="{% url 'scan_get_image' bundle.timestamp 0 %}"
      class="border rounded-start"
      style="max-height: 14em;"
      >
    <div class="p-2">
      <h5 class="card-title">{{ bundle.slug }}.pdf</h5>
      <p class="card-subtitle">Uploaded {{ bundle.time_uploaded }}</p>
      <ul class="list-unstyled">
        <li>Total pages: {{ bundle.pages }}</li>
        <li>Valid pages: {{ bundle.n_read }}</li>
        <li>Error pages: {{ bundle.n_errors}}</li>
      </ul>
      <a 
        class="btn" 
        href="{% url 'scan_manage_bundle' bundle.timestamp 0 %}"
        style="background-color: #0F984F; color: white;"
        >
        View
      </a>
      <a 
        class="btn btn-danger {% if bundle.disable_delete %}disabled{% endif %}" 
        hx-delete="{% url 'scan_remove_bundle' bundle.timestamp %}"
        hx-confirm="Are you sure?"
        >
        Remove
      </a>
    </div>
  </div>
</div>
