# SPDX-License-Identifier: FSFAP
# Copyright (C) 2023-2025 Colin B. Macdonald

# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

tomli~=2.2.1
myst-parser~=4.0.1
sphinx~=8.2.3
sphinx_rtd_theme~=3.0.2
sphinx-argparse~=0.4.0
