<table class="table table-striped" id="progressTable">
    <thead>
        <tr>
            <th scope="col">Paper number</th>
            <th scope="col">Page number</th>
            <th scope="col">Question version</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for tp in test_papers %}
            <tr>
                <td>
                    <a class="btn"
                       onclick="toggle_pages('{{ tp.paper_number }}_page')"
                       style="background-color: lightgrey">
                        {{ tp.paper_number }}
                        <i class="bi bi-chevron-down"></i>
                    </a>
                </td>
                <td></td>
                <td></td>
                {% if tp.complete %}
                    <td class="text-success">Complete</td>
                {% else %}
                    <td class="text-danger">Incomplete</td>
                {% endif %}
                <td></td>
            </tr>
            {% for page in tp.pages %}
                <tr id="{{ tp.paper_number }}_page{{ forloop.counter }}"
                    hidden="true"
                    class="table-active">
                    <td></td>
                    <td>{{ page.number }}</td>
                    {% if page.version %}
                        <td>{{ page.version }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if page.image %}
                        <td class="text-success">&ensp;Scanned</td>
                    {% else %}
                        <td class="text-danger">&ensp;Pending</td>
                    {% endif %}
                    <td>
                        {% if page.image %}
                            <a class="btn btn-primary btn-small"
                               hx-get="{% url 'progress_scan_page_modal' tp.paper_number page.number %}"
                               hx-swap="afterend">View</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
