{% extends "test_creator/base-test-spec-2col.html" %}

{% block right_column %}

<form class="w-100" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="vstack d-flex h-100">
        <div class="h-100">
            <div class="row">
                <label for="{{ form.pdf.id_for_label }}" class="col-sm-2 col-form-label fs-5">Reference PDF:</label>
                <div class="col-sm-10">
                    {{ form.pdf }}
                </div>
            </div>
        </div>
        <div>
            <a type="button" class="btn btn-primary btn-lg" href="{% url 'names' %}">Back</a>
            <input type="submit" class="btn btn-primary btn-lg float-end" value="Next">
        </div>
    </div>
</form>

{% endblock %}