{% extends "test_creator/base-test-spec-2col.html" %}

{% block page_title %}Test Spec Frontend Mockup{% endblock %}

{% block title %}Create a test specification{% endblock %}

{% block right_column %}

<form class="is_wizard_form" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="field">
        <label for="{{ form.pdf.id_for_label }}" class="label">Reference PDF</label>
        {{ form.pdf.errors }}
        <div class="file has-name" x-data="{file: null}" @change="file = Object.values($event.target.files)[0]">
            <label class="file-label">
                {{ form.pdf }}
                <span class="file-cta">
                    <span class="file-label">
                        Upload...
                    </span>
                </span>
                <span class="file-name" x-text="file? file.name : 'No file uploaded'">

                </span>
            </label>
        </div>
    </div>

    <a class="button is_purple is_wizard_back_button is-medium">Back</a>

    <input class="button is_purple is_wizard_next_button is-medium" type="submit" value="Next">

</form>

{% endblock %}