<div class="card-body" hx-get="{% url 'connect_db_update' %}" hx-target="#task-status" hx-trigger="every 0.5s">
    {% if db_init_task.status == 'error' %}
        <h5 class="card-title">Database initialisation error.</h5>
        <p class="card-text text-danger">{{ db_init_task.message }}</p>
    {% elif pre_id_task.status == 'error' %}
        <h5 class="card-title">Paper Pre-ID error.</h5>
        <p class="card-text text-danger">{{ pre_id_task.message }}</p>
    {% elif db_row_tasks.errors %}
        <h5 class="card-title">Database initialisation error.</h5>
        {% for error in db_row_task.errors %}
            <p class="card-text text-danger">{{ error }}</p>
        {% endfor %}
    {% else %}
        <h5 class="card-title">Database initialisation in progress.</h5>
        {% if db_init_task.status != 'complete' %}
        <div class="d-flex">
            <p class="card-text">Creating Plom-classic database...</p>
            <div class="spinner-grow spinner-grow-sm text-secondary m-1"></div>
        </div>
        {% elif db_row_tasks.n_total != db_row_tasks.n_complete %}
        <div class="d-flex">
            <p class="card-text">Creating row {{ db_row_tasks.n_complete }} of {{ db_row_tasks.n_total }}...</p>
            <div class="spinner-grow spinner-grow-sm text-secondary m-1"></div>
        </div>
        {% elif pre_id_task.status != 'complete' %}
        <div class="d-flex">
            <p class="card-text">Pre-IDing test papers...</p>
            <div class="spinner-grow spinner-grow-sm text-secondary m-1"></div>
        </div>
        {% else %}
        <p class="card-text">Initialisation complete!</p>
        {% endif %}
        <div class="progress mb-3">
            <div class="progress-bar" style="width: {{ percent_complete }}"></div>
        </div>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'connect_send_info' %}">Back</a>
</div>