{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Question clustering jobs
{% endblock title %}
{% block page_heading %}
    Question clustering jobs
{% endblock page_heading %}
{% block main_content %}
    {% include "../base/alert_messages.html" with messages=messages %}
    <div>
        <a class="btn btn-success" href="{% url 'question_clustering_home' %}">
            <i class="bi bi-chevron-left"></i>
            Return to choose version/question
        </a>
        <a class="btn btn-warning" href="{% url 'remove_huey_debug' %}">Remove all jobs (For DEBUG)</a>
    </div>
    <div class="card my-2">
        <div class="card-body">{% include "QuestionClustering/clustering_jobs_table.html" with tasks=tasks %}</div>
    </div>
{% endblock main_content %}
