# SPDX-License-Identifier: FSFAP
# Copyright (C) 2022 Brennen Chiu
# Copyright (C) 2022-2023 Andrew Rechnitzer
# Copyright (C) 2022-2023 Edith Coates
# Copyright (C) 2023 Colin B. Macdonald

django==4.1.7
django-braces
django-reset-migrations
model_bakery # for tests
beautifulsoup4 # HTML parsing
django-session-timeout
django-htmx
tabulate # display table in command line
git+https://gitlab.com/plom/plom.git@main
reportlab
django-huey
django-polymorphic
djangorestframework
pymupdf==1.22.0
# https://pypi.org/project/random-username/
# https://github.com/williexu/random_username
random-username
tomli
tomlkit
psycopg2-binary  # for mucking with postgres databases - use binary so that we don't have to build
debugpy
whitenoise
zipfly  # for streaming zipfile generation/download
