{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block title %}{% endblock %}

{% block main_content %}

<div class="columns is-mobile">
    <!-- Left column -->
    <div class="column is-narrow">
        {% block left_column %}{% endblock %}
    </div>

    <!-- divider -->
    <div class="column is-narrow is_divider">
    </div>

    <!-- Right column -->
    <div class="column">
        <div class="container">
            {% block right_column %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}

