{% extends 'base/base.html' %}

{% block title %}Web Plom - Scan{% endblock %}

{% block page_heading %}Scan bundles{% endblock %}

{% block main_content %}
{% if bundle_splitting %}
<div class="d-flex justify-content-center">
    <div hx-get="{% url 'scan_image_update' timestamp %}" hx-trigger="load"></div>
</div>
{% else %}
<div class="d-grid gap-2">
    <div class="card w-50">
        <div class="card-body" style="height: 182.5px">
            <div class="row">
                <div class="col">
                    <h5>Summary:</h5>
                    <p>{{ completed_test_papers }} / {{ total_completed_test_papers }} completed test papers ({{ percent_papers_completed }}%)</p>
                    <p>{{ completed_pages }} / {{ total_completed_pages }} completed pages ({{ percent_pages_completed }}%)</p>
                    <a class="btn" style="background-color: #0F984F; color: white;" href="{% url 'scan_summary' %}">View Summary</a>
                </div>
                <div class="col">
                    <h5>Test Status:</h5>
                    <div style="height: 120px; overflow-y: scroll;">
                        <table class="table table-hover" style="table-layout: fixed;">
                            <tbody>
                                {% for tp in all_test_papers %}
                                    {% if tp.complete %}
                                    <tr class="table-success">
                                        <td>Test ID {{ tp.paper_number }}</td>
                                        <td>Completed</td>
                                    </tr>
                                    {% else %}
                                    <tr class="table-danger">
                                        <td>Test ID {{ tp.paper_number }}</td>
                                        <td>Incomplete</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">Upload bundle PDF</h5>
            <details style="margin-bottom: 10px;">
                <summary>Dummy help text!</summary>
                <p>
                    <ul>
                        <li>Upload scanned tests here.</li>
                        <li>Plom will read the QR codes and find problems if there are any.</li>
                    </ul>
                </p>
            </details>
            <form
                enctype="multipart/form-data"
                method="post"
                action="{% url 'scan_home' %}"
            >
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn" value="Upload" style="background-color: #0F984F; color: white;">
            </form>
        </div>
    </div>
    <br>
    <div>
        <div class="row" style="margin-right: 0.1px;">
            <div class="col">
                <div>
                    <h5>Staged Bundles</h5>
                    <div class="d-grid gap-2">
                        {% if bundles %}
                            {% for bundle in bundles %}
                            <div class="card" style="min-width: fit-content; max-width: 50%">
                                <div class="card-body d-flex flex-row p-0">
                                    <img 
                                        src="{% url 'scan_get_image' bundle.timestamp 0 %}"
                                        class="border rounded-start"
                                        style="max-height: 14em;"
                                    >
                                    <div class="p-2">
                                        <h5 class="card-title">{{ bundle.slug }}.pdf</h5>
                                        <p class="card-subtitle">Uploaded {{ bundle.time_uploaded }}</p>
                                        <ul class="list-unstyled">
                                            <li>Total pages: {{ bundle.pages }}</li>
                                            <li>Good pages: {{ bundle.n_read }}</li>
                                            <li>Error pages: {{ bundle.n_errors}}</li>
                                            <li>Pushed pages: {{ bundle.n_pushed }}</li>
                                        </ul>
                                        <a 
                                            class="btn" 
                                            href="{% url 'scan_manage_bundle' bundle.timestamp 0 %}"
                                            style="background-color: #0F984F; color: white;"
                                        >
                                            View
                                        </a>
                                        <a 
                                            class="btn btn-danger {% if bundle.disable_delete %}disabled{% endif %}" 
                                            hx-delete="{% url 'scan_remove_bundle' bundle.timestamp %}"
                                            hx-confirm="Are you sure?"
                                        >
                                            Remove
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <h6>No bundles uploaded yet.</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <h5>Pushed Bundles</h5>
                    <div class="d-grid gap-2">
                        <h6>No bundles pushed yet.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}