{% extends "base/base.html" %}
{% block title %}Web Plom - Scan{% endblock %}
{% block page_heading %}Scan bundles{% endblock %}

{% block main_content %}
<style>
    .pdfs { grid-area: left;}
    .right_navbar { 
        grid-area: right;
        margin-left: 80px;
    }
    .grid-container {
        display: grid;
        grid-template-areas:
        "left left left left right right"
    }
    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: {{ navbar_colour }};
        text-align: center;
        padding: 15px 0px;
    }
</style>
<div class="grid-container">
    <div class="d-grid gap-2 pdfs">
        {% for idx in images %}
        <div class="card w-100">
            <img 
                src="{% url 'scan_get_image' slug timestamp idx %}"
                class="card-img"
            >
        </div>
        {% endfor %}
    </div>
    <div class="right_navbar">
        <div class="sticky" height="200px" width="100%">
            <form method="post" action="{% url 'scan_read_qr' slug timestamp %}">
                {% csrf_token %}
                <input type="submit" value="Read QR" class="btn btn-primary">
            </form>
            <br>
            <br>
            <a class="btn" href="{% url 'scan_home' %}" style="background-color: grey; color: white;">Return to upload</a>
        </div>
    </div>
</div>
{% endblock %}
