{% extends "base/base.html" %}
{% block title %}Web Plom - Scan{% endblock %}
{% block page_heading %}Manage bundle{% endblock %}

{% block main_content %}
<div class="container w-100 p-0 m-3">
    <div class="row">
        <div class="col shadow-sm rounded p-0" style="background-color: lightgrey;">
            <div hx-get="{% url 'scan_qr_alert' timestamp %}" hx-trigger="load" hx-swap="outerHTML"></div>
            <div class="row p-0">
                <div class="col-sm-2 p-0 d-flex justify-content-center">
                    {% if prev_idx >= 0 %}
                    <a 
                        class="btn w-100 h-100 d-flex justify-content-center"
                        href="{% url 'scan_manage_bundle' timestamp prev_idx %}"
                    >
                        <i class="bi bi-arrow-left fs-2 align-self-center"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="col d-flex justify-content-center overflow-scroll">
                    <img
                        src="{% url 'scan_get_image' timestamp index %}"
                        class="w-100 thumbnail shadow-sm"
                    >
                </div>
                <div class="col-sm-2 p-0 d-flex justify-content-center">
                    {% if next_idx < total_pages %}
                    <a 
                        class="btn w-100 h-100 d-flex justify-content-center"
                        href="{% url 'scan_manage_bundle' timestamp next_idx %}"
                    >
                        <i class="bi bi-arrow-right fs-2 align-self-center"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-2 pe-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ slug }}.pdf</h5>
                    <p class="card-subtitle">Page {{ one_index }} of {{ total_pages }}</p>
                    <div class="vstack pt-3 gap-3">
                        <a 
                            class="btn text-start" 
                            style="background-color: lightgrey;"
                            data-bs-toggle="collapse"
                            role="button"
                            aria-expanded="false"
                            aria-controls="pagesList"
                            href="#pagesList"
                        >
                            <i class="bi bi-chevron-down"></i>
                            Pages
                        </a>
                        <div class="collapse vstack gap-2" id="pagesList">
                            <div class="vstack gap-2">
                                {% for p in pages %}
                                <a
                                    {% if forloop.counter == one_index %}
                                    class="btn text-start btn-info"
                                    {% else %}
                                    class="btn text-start"
                                    {% endif %}
                                    href="{% url 'scan_manage_bundle' timestamp forloop.counter0 %}"
                                >
                                    Page {{ forloop.counter }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="btn text-start" href="{% url 'scan_home' %}" style="background-color: lightgrey;">
                            <i class="bi bi-chevron-left"></i>
                            Return to upload
                        </a>
                        {% if not qr_finished %}
                        <a class="btn text-start" hx-post="{% url 'scan_read_qr' timestamp %}" style="background-color: lightgrey;">
                            <i class="bi bi-qr-code-scan"></i>
                            Read bundle QRs
                        </a>
                        {% endif %}
                        <div hx-get="{% url 'scan_qr_progress' timestamp index %}" hx-trigger="load"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}